* {
    box-sizing: border-box;
    margin: 10px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: rgb(225, 225, 238);
}

.container-fluid {
    width: 100%;
    height: auto;
}

.jumbotron {
    background-image: url("../img/HPY.PNG");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

.titleheader {
    text-align: center;
    font-weight: bold;
}

.center-form {
    background-color: white;
    border-radius: 5px;
    margin: auto;
}

.form-group {
    margin: 10px;
    /* background-color:darkcyan; */
}

.row {
    margin: 10px;
    /* background-color: blue; */

}

.btn {
    width: 100%;
    height: auto;
    margin: 15px 0;
}

li.list-group-item {
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px !important;
}

.description {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px;
}

.footer {
    text-align: center;
    font-weight: bold;
}

